@import "../src/index.css";
@import "../src/App.css";
@import "../src/components/component1/Component1.css";
@import "../src/components/ratesSection/RatesSection.css";
@import "../src/components/ratesSection/RateCard.css";
@import "../src/components/MortgageResultsPage.css";
@import "../src/components/rateSectionMobile/RatesSectionMobile.css";
@import "../src/components/applyButton/ApplyButton.css";
@import "../src/components/pricingWidget/PricingWidget.css";
@import "../src/components/navbar/Navbar.css";
@import "../src/components/mortgageResults/MortgageOptionsPage.css";
