{
  "openapi": "3.0.1",
  "info": {
    "title": "Complete Search Results",
    "description": "This API product supports a richer data set and library of calls than the Best Execution Search Results product.\r\n            The Full Results allows for QM testing workflows, best price scenarios, and all eligible product scenarios for searches.\r\n            Subsequent calls for more information regarding product and pricing details, ineligible products, and lender fees are also supported.",
    "version": "4"
  },
  "servers": [
    {
      "url": "https://marketplace.optimalblue.com/full"
    },
    {
      "url": "https://marketplace2.optimalblue.com/full"
    }
  ],
  "paths": {
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/productsearch/{searchId}/products/{productId}/amortizationschedule": {
      "post": {
        "tags": ["FullSearchV4"],
        "summary": "Amortization Schedule",
        "description": "This endpoint will return the full payment stream for the Product provided in the route, including information for each month&apos;s payment, \r\n                monthly/annual mortgage insurance (if applicable) and any rate changes. For Adjustable Rate Mortgages those rate changes and associated \r\n                payment changes will be based on the fully indexed rate. This endpoint will also return the APR and the values used to determine the APR.",
        "operationId": "Amortization-Schedule",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          },
          {
            "name": "searchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace.Pricing.Business.Common.Models.AmortizationScheduleRequest"
              },
              "example": {
                "rate": 0,
                "lockPeriod": 0,
                "loanLevelDebtToincomeRatio": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.AmortizationScheduleDetails"
                },
                "example": {
                  "amortizationSchedule": [
                    {
                      "paymentNumber": 0,
                      "principalAndInterestPayment": 0,
                      "principalPayment": 0,
                      "interestPayment": 0,
                      "mortgageInsurancePayment": 0,
                      "totalPaymentAmount": 0,
                      "endingBalance": 0,
                      "rate": 0
                    }
                  ],
                  "apr": 0,
                  "baseLoanAmount": 0,
                  "totalLoanAmount": 0,
                  "prepaidFinanceCharge": 0,
                  "amountFinanced": 0,
                  "financeCharge": 0,
                  "totalOfPayments": 0
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/productsearch": {
      "post": {
        "tags": ["FullSearchV4"],
        "summary": "Full Product Search",
        "description": "An initiating call to the API, specifying a scenario for qualification purposes. The response will return all eligible products \r\n                for the submitted scenario and associated guideline documents.\r\n                A flag can also be sent for Optimal Blue to calculate the total loan amount for government transactions, in which case \r\n                the total loan upfront mortgage insurance premiums will be considered as fully financed. If any portion needs to be paid in \r\n                cash, or conventional borrower paid upfront MI is required please submit the entire Total Loan Amount container with the \r\n                calculateTotalLoanAmount field as 'false'. The product guidelines in the response are optional, \r\n                and can be excluded from the response if you append ?$deselect=Products/Guidelines to the end of the request.",
        "operationId": "Full-Product-Search",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          },
          {
            "name": "productId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.QMPricingRequest"
              },
              "example": {
                "qmInformation": {
                  "refinancePrepaymentFeeAmount": 0,
                  "creditInsuranceFeeAmount": 0,
                  "cashIncentiveDiscountAmount": 0,
                  "escrowTrusteeFeeAmount": 0,
                  "propertyAssessmentFeeAmount": 0,
                  "notaryCreditReportFeeAmount": 0,
                  "documentPreperationFeeAmount": 0,
                  "titleFeeAmount": 0,
                  "borrowerPaidLOCompensation": 0,
                  "additionalQMFeesAffectAPOR": false,
                  "additionalQMFeeAmount": 0,
                  "financedPMI": 0
                },
                "borrowerInformation": {
                  "citizenship": "USCitizen",
                  "fico": 750,
                  "firstName": "test",
                  "lastName": "test1",
                  "vaFirstTimeUse": false,
                  "firstTimeHomeBuyer": true,
                  "monthsReserves": 12,
                  "selfEmployed": false,
                  "waiveEscrows": false,
                  "state": "Texas"
                },
                "propertyInformation": {
                  "appraisedValue": 425000,
                  "occupancy": "PrimaryResidence",
                  "propertyStreetAddress": "123 street",
                  "city": "Plano",
                  "county": "Collin",
                  "state": "TX",
                  "zipCode": "75024",
                  "propertyType": "SingleFamily",
                  "corporateRelocation": false,
                  "salesPrice": 425000,
                  "numberOfStories": 1,
                  "numberOfUnits": "OneUnit"
                },
                "loanInformation": {
                  "loanPurpose": "Purchase",
                  "lienType": "First",
                  "amortizationTypes": ["Fixed"],
                  "armFixedTerms": ["FiveYear"],
                  "automatedUnderwritingSystem": "NotSpecified",
                  "borrowerPaidMI": "Yes",
                  "buydown": "None",
                  "cashOutAmount": 0,
                  "desiredLockPeriod": 30,
                  "desiredPrice": 0,
                  "desiredRate": 0,
                  "feesIn": "No",
                  "expandedApprovalLevel": "NotApplicable",
                  "interestOnly": false,
                  "baseLoanAmount": 375000,
                  "secondLienAmount": 0,
                  "helocDrawnAmount": 0,
                  "helocLineAmount": 0,
                  "loanTerms": ["ThirtyYear", "FifteenYear"],
                  "loanType": "Conventional",
                  "prepaymentPenalty": "None",
                  "exemptFromVAFundingFee": false,
                  "includeLOCompensationInPricing": "YesLenderPaid",
                  "calculateTotalLoanAmount": true,
                  "assetDepletion": "No",
                  "autoDebit": "No",
                  "employeeLoan": "No",
                  "communityAffordableSecond": "No",
                  "expandedGuidelines": {
                    "incomeVerificationType": "FullDoc",
                    "housingEventType": "None",
                    "housingEventSeasoning": "NotApplicable",
                    "bankruptcyType": "None",
                    "bankruptcyOutcome": "NotApplicable",
                    "bankruptcySeasoning": "NotApplicable",
                    "mortgageLatesx30_12Mos": 0,
                    "mortgageLatesx30_13to24Mos": 0,
                    "mortgageLatesx60_12Mos": 0,
                    "mortgageLatesx60_13to24Mos": 0,
                    "mortgageLatesx90_12Mos": 0,
                    "mortgageLatesx90_13to24Mos": 0,
                    "mortgageLatesx120_12Mos": 0,
                    "mortgageLatesx120_13to24Mos": 0,
                    "debtConsolidation": false,
                    "uniqueProperty": false
                  },
                  "reducedMI": false,
                  "representativeFICO": 750,
                  "loanLevelDebtToIncomeRatio": 18,
                  "totalMonthlyQualifyingIncome": 9000,
                  "customerInternalId": "OBSearch"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.Response.QMPricingResponse"
                },
                "example": {
                  "products": [
                    {
                      "bonaFideDiscountPoints": 0,
                      "qmStatus": "Pass",
                      "apr": 0,
                      "productType": "StandardProducts",
                      "armIndex": "Treasury",
                      "armFirstCap": 0,
                      "armIndexValue": 0,
                      "armPeriodicCap": 0,
                      "armLifetimeCap": 0,
                      "armRelativeCap": 0,
                      "armMargin": 0,
                      "armSubsequentChangePeriod": "OneYear",
                      "armFixedTerm": "SixMonth",
                      "closingCost": 0,
                      "lastUpdate": "string",
                      "loanTerm": "ThirtyYear",
                      "lockPeriod": 0,
                      "price": 0,
                      "rate": 0,
                      "rebate": 0,
                      "discount": 0,
                      "principalAndInterest": 0,
                      "monthlyMI": 0,
                      "totalPayment": 0,
                      "loCompensationDollars": 0,
                      "loCompensationPercent": 0,
                      "highBalance": "No",
                      "amortizationTerm": "ThirtyYear",
                      "amortizationType": "Fixed",
                      "investorId": 0,
                      "investor": "string",
                      "loanType": "Conforming",
                      "priceStatus": "Available",
                      "pendingUpdate": true,
                      "productCode": "string",
                      "productId": 0,
                      "productName": "string",
                      "guidelines": [
                        {
                          "documentDescription": "string",
                          "guidelineLink": {
                            "rel": "string",
                            "href": "string",
                            "action": "string",
                            "fileExtension": "string",
                            "types": ["string"]
                          }
                        }
                      ],
                      "constructionPeriodInterestRate": 0,
                      "constructionTermMonths": 0,
                      "constructionPermanentFinancingLoanTerm": 0,
                      "constructionPermanentFinancingAmortizationTerm": 0,
                      "loanTermIncludesConstructionTerm": true,
                      "collectMonthlyMIDuringConstructionTerm": true
                    }
                  ],
                  "acquisitionCost": 0,
                  "totalLoanAmountDetails": {
                    "totalLoanAmount": 0,
                    "upfrontPMI_MIP_FF_GF_Percent": 0,
                    "upfrontPMI_MIP_FF_GF_Amount": 0,
                    "upfrontPMI_MIP_FF_GF_PaidinCash": 0,
                    "upfrontPMI_MIP_FF_GF_FinancedAmount": 0
                  },
                  "cltv": 0,
                  "ltv": 0,
                  "hcltv": 0,
                  "amiPercentage": 0,
                  "amiPercentageFFIEC": 0,
                  "searchId": "string",
                  "searchTime": "string",
                  "customerInternalId": "string",
                  "additionalFields": {},
                  "messages": [
                    {
                      "code": "string",
                      "message": "string",
                      "modelState": {}
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/guideline": {
      "get": {
        "tags": ["FullSearchV4"],
        "summary": "Guideline Document",
        "operationId": "Guideline-Document",
        "parameters": [
          {
            "name": "isIndex",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Pricing.Business.ExternalServices.InternalFileService.Models.FileDetails"
                },
                "example": {
                  "fileContents": "string",
                  "fileName": "string",
                  "contentType": "string"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/productsearch/{searchId}/products/{productId}": {
      "get": {
        "tags": ["FullSearchV4"],
        "summary": "Product Details",
        "description": "Once the eligible products are returned from a Products request, an additional call can be made to receive all detailed pricing information for a product. \r\n                The response will return all price, rate, lock period combinations for the requested product. Additionally, all adjustments, notes and advisories will be returned.",
        "operationId": "Product-Details",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          },
          {
            "name": "searchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.ProductQuote"
                },
                "example": {
                  "productName": "string",
                  "quotes": [
                    {
                      "rate": 0,
                      "lockPeriod": 0,
                      "lockExpirationDate": "string",
                      "apr": 0,
                      "price": 0,
                      "armMargin": 0,
                      "closingCost": 0,
                      "discountDollar": 0,
                      "discountPercent": 0,
                      "rebateDollar": 0,
                      "rebatePercent": 0,
                      "loCompensationDollar": 0,
                      "loCompensationPercent": 0,
                      "principalAndInterest": 0,
                      "totalCredit": 0,
                      "monthlyMi": 0,
                      "totalPayment": 0,
                      "constructionPeriodInterestRate": 0,
                      "adjustments": [
                        {
                          "reason": "string",
                          "adjustor": "string",
                          "type": "string"
                        }
                      ],
                      "bonaFideDiscountPoints": 0,
                      "qmStatus": "Pass",
                      "amiRuleApplied": true,
                      "notesAndAdvisories": ["string"]
                    }
                  ],
                  "adjustments": [
                    {
                      "reason": "string",
                      "adjustor": "string",
                      "type": "string"
                    }
                  ],
                  "parQuotes": [
                    {
                      "parRate": 0,
                      "parPrice": 0,
                      "parLock": 0
                    }
                  ],
                  "searchId": "string",
                  "productId": 0,
                  "totalRateAdjustment": 0,
                  "totalPriceAdjustment": 0,
                  "totalSRPAdjustment": 0,
                  "totalMarginAdjustment": 0,
                  "notesAndAdvisories": ["string"],
                  "armSubsequentChangePeriod": "OneYear",
                  "armIndex": "Treasury",
                  "armIndexValue": 0,
                  "armFirstCap": 0,
                  "armPeriodicCap": 0,
                  "armFixedTerm": "SixMonth",
                  "armLifetimeCap": 0,
                  "armRelativeCap": 0,
                  "constructionTermMonths": 0,
                  "loanTermIncludesConstructionTerm": true,
                  "originationFees": 0,
                  "investorId": 0,
                  "miRequiredOver80Ltv": true,
                  "interestOnlyTerm": 0,
                  "highBalance": "No",
                  "messages": [
                    {
                      "code": "string",
                      "message": "string",
                      "modelState": {}
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/productsearch/{searchId}/products/{productId}/lenderfees": {
      "get": {
        "tags": ["FullSearchV4"],
        "summary": "Lender Fees",
        "description": "By providing a valid search ID and product ID, this request will query for all configured fees. These include 'non-pricing' related fees. \r\n                Please note Origination charges, LO comp, Discount Points, and LLPAs will be returned in the original Price Details Response. Also, \r\n                aggregated totals, like Total Closing Costs, will be returned in the Price Details Response. The Lender Fees request will be used to \r\n                collect those fees that were configured to affect APR. Please note, in order for the Optimal Blue generated APR to be accurate, \r\n                Lender Fees must be configured within Optimal Blue.",
        "operationId": "Lender-Fees",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          },
          {
            "name": "searchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.LenderFeeDetailsResponse"
                },
                "example": {
                  "searchId": "string",
                  "productId": 0,
                  "productName": "string",
                  "lenderFeeDetails": [
                    {
                      "feeDetailNumber": 0,
                      "feeTotalAmountPercent": 0,
                      "feeSpecifiedFixedAmount": 0,
                      "feeTotalCalculatedAmount": 0,
                      "feePaymentFinancedIndicator": true,
                      "feePaidBy": "Buyer",
                      "feePaidTo": "Other",
                      "rebatePriority": 0,
                      "feeDescription": "string",
                      "prepaidFinanceChargeIndicator": true,
                      "includedInQMPointsAndFeesTest": true,
                      "feePercentageBasedOn": "PurchasePriceAmount",
                      "feeType": "TwoZeroThreeKArchitecturalAndEngineeringFee"
                    }
                  ],
                  "messages": [
                    {
                      "code": "string",
                      "message": "string",
                      "modelState": {}
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/productgroupsearch/{searchId}/productgroups/{productGroupId}/bestprice": {
      "get": {
        "tags": ["FullSearchV4"],
        "summary": "Product Group Details for Best Price",
        "description": "Based on the Product Group ID provided in this request, the results will provide a full price grid for each rate, price, lock period combination. \r\n                Each option will display the best price across all eligible products for that combination. There will be an indicator as to which product is tied to each combination. \r\n                The product guidelines in the response are optional, and can be included in the response if you append ?includeguidelines=true to the end of the request.",
        "operationId": "Product-Group-Details-for-Best-Price",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          },
          {
            "name": "searchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeguidelines",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "includealllockperiods",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.BestPricingDetailsResponse"
                },
                "example": {
                  "searchId": "string",
                  "productGroupId": "string",
                  "quotes": [
                    {
                      "productName": "string",
                      "productId": 0,
                      "rate": 0,
                      "lockPeriod": 0,
                      "lockExpirationDate": "string",
                      "apr": 0,
                      "price": 0,
                      "armMargin": 0,
                      "closingCost": 0,
                      "discountDollar": 0,
                      "discountPercent": 0,
                      "rebateDollar": 0,
                      "rebatePercent": 0,
                      "loCompensationDollar": 0,
                      "loCompensationPercent": 0,
                      "principalAndInterest": 0,
                      "totalCredit": 0,
                      "monthlyMi": 0,
                      "totalPayment": 0,
                      "constructionPeriodInterestRate": 0,
                      "adjustments": [
                        {
                          "reason": "string",
                          "adjustor": "string",
                          "type": "string"
                        }
                      ],
                      "bonaFideDiscountPoints": 0,
                      "qmStatus": "Pass",
                      "amiRuleApplied": true,
                      "notesAndAdvisories": ["string"]
                    }
                  ],
                  "productDetails": [
                    {
                      "productName": "string",
                      "productId": 0,
                      "adjustments": [
                        {
                          "reason": "string",
                          "adjustor": "string",
                          "type": "string"
                        }
                      ],
                      "totalRateAdjustment": 0,
                      "totalPriceAdjustment": 0,
                      "totalSRPAdjustment": 0,
                      "totalMarginAdjustment": 0,
                      "originationFees": 0,
                      "lockExpirationDate": "string",
                      "parQuotes": [
                        {
                          "parRate": 0,
                          "parPrice": 0,
                          "parLock": 0
                        }
                      ],
                      "notesAndAdvisories": ["string"],
                      "miRequiredOver80Ltv": true,
                      "interestOnlyTerm": 0,
                      "armSubsequentChangePeriod": "OneYear",
                      "armFixedTerm": "SixMonth",
                      "armIndex": "Treasury",
                      "armIndexValue": 0,
                      "armFirstCap": 0,
                      "armPeriodicCap": 0,
                      "armLifetimeCap": 0,
                      "armRelativeCap": 0,
                      "constructionTermMonths": 0,
                      "highBalance": "No",
                      "guidelines": [
                        {
                          "documentDescription": "string",
                          "guidelineLink": {
                            "rel": "string",
                            "href": "string",
                            "action": "string",
                            "fileExtension": "string",
                            "types": ["string"]
                          }
                        }
                      ],
                      "investorId": 0,
                      "investor": "string",
                      "productCode": "string"
                    }
                  ],
                  "messages": [
                    {
                      "code": "string",
                      "message": "string",
                      "modelState": {}
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/productsearch/{searchId}/ineligible": {
      "get": {
        "tags": ["FullSearchV4"],
        "summary": "Ineligible Products",
        "description": "This call can be leveraged for purposes of receiving all products that are flagged as ineligible or unknown eligibility \r\n                for the provided search ID. The reasons for that qualification will also be returned. The product guidelines in the response are optional,\r\n                and can be excluded from the response if you append ?$deselect=IneligibleProducts/Guidelines to the end of the request.",
        "operationId": "Ineligible-Products",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          },
          {
            "name": "searchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.IneligibleProductResponse"
                },
                "example": {
                  "searchId": "string",
                  "amiPercentage": 0,
                  "amiPercentageFFIEC": 0,
                  "ineligibleProducts": [
                    {
                      "ineligibleReason": ["string"],
                      "ineligibleStatus": "Disqualified",
                      "amortizationTerm": "ThirtyYear",
                      "amortizationType": "Fixed",
                      "investorId": 0,
                      "investor": "string",
                      "loanType": "Conforming",
                      "priceStatus": "Available",
                      "pendingUpdate": true,
                      "productCode": "string",
                      "productId": 0,
                      "productName": "string",
                      "guidelines": [
                        {
                          "documentDescription": "string",
                          "guidelineLink": {
                            "rel": "string",
                            "href": "string",
                            "action": "string",
                            "fileExtension": "string",
                            "types": ["string"]
                          }
                        }
                      ],
                      "constructionPeriodInterestRate": 0,
                      "constructionTermMonths": 0,
                      "constructionPermanentFinancingLoanTerm": 0,
                      "constructionPermanentFinancingAmortizationTerm": 0,
                      "loanTermIncludesConstructionTerm": true,
                      "collectMonthlyMIDuringConstructionTerm": true
                    }
                  ],
                  "messages": [
                    {
                      "code": "string",
                      "message": "string",
                      "modelState": {}
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/productgroupsearch": {
      "post": {
        "tags": ["FullSearchV4"],
        "summary": "Product Group Search",
        "description": "This initiating call to the API identifies the loan/borrower scenario and criteria for qualification purposes. \r\n                The response will return a list of product groups. Each group will correlate to the product tree within the client&apos;s Optimal Blue configuration, \r\n                or with the custom grouping as configured by the user. The grouping will consolidate all products within that group into one price grid that will \r\n                display the best price at each rate, price combination for the specified lock period. The results of this call will mirror the functionality of \r\n                the 'Best Price' tab on the Optimal Blue search results page today.\r\n                Please note that a flag can be sent for Optimal Blue to calculate the total loan amount for government transactions, in which case the total loan \r\n                upfront mortgage insurance premiums will be considered as fully financed. If any portion needs to be paid in cash, or conventional borrower paid \r\n                upfront MI is required please submit the entire Total Loan Amount container with the calculateTotalLoanAmount field as 'false'.\r\n                Please note that the fields within the \\\"expandedGuidelines\\\" container will only be evaluated for those products that are \r\n                tied to the \\\"productTypes\\\" of \\\"nonQM\\\". The product guidelines in the response are optional,\r\n                and can be excluded from the response if you append ?$deselect=ProductGroups/Guidelines to the end of the request.",
        "operationId": "Product-Group-Search",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.QMPricingRequest"
              },
              "example": {
                "qmInformation": {
                  "refinancePrepaymentFeeAmount": 0,
                  "creditInsuranceFeeAmount": 0,
                  "cashIncentiveDiscountAmount": 0,
                  "escrowTrusteeFeeAmount": 0,
                  "propertyAssessmentFeeAmount": 0,
                  "notaryCreditReportFeeAmount": 0,
                  "documentPreperationFeeAmount": 0,
                  "titleFeeAmount": 0,
                  "borrowerPaidLOCompensation": 0,
                  "additionalQMFeesAffectAPOR": false,
                  "additionalQMFeeAmount": 0,
                  "financedPMI": 0
                },
                "borrowerInformation": {
                  "citizenship": "USCitizen",
                  "fico": 750,
                  "firstName": "test",
                  "lastName": "test1",
                  "vaFirstTimeUse": false,
                  "firstTimeHomeBuyer": true,
                  "monthsReserves": 12,
                  "selfEmployed": false,
                  "waiveEscrows": false,
                  "state": "Texas"
                },
                "propertyInformation": {
                  "appraisedValue": 425000,
                  "occupancy": "PrimaryResidence",
                  "propertyStreetAddress": "123 street",
                  "city": "Plano",
                  "county": "Collin",
                  "state": "TX",
                  "zipCode": "75024",
                  "propertyType": "SingleFamily",
                  "corporateRelocation": false,
                  "salesPrice": 425000,
                  "numberOfStories": 1,
                  "numberOfUnits": "OneUnit"
                },
                "loanInformation": {
                  "loanPurpose": "Purchase",
                  "lienType": "First",
                  "amortizationTypes": ["Fixed"],
                  "armFixedTerms": ["FiveYear"],
                  "automatedUnderwritingSystem": "NotSpecified",
                  "borrowerPaidMI": "Yes",
                  "buydown": "None",
                  "cashOutAmount": 0,
                  "desiredLockPeriod": 30,
                  "desiredPrice": 0,
                  "desiredRate": 0,
                  "feesIn": "No",
                  "expandedApprovalLevel": "NotApplicable",
                  "interestOnly": false,
                  "baseLoanAmount": 375000,
                  "secondLienAmount": 0,
                  "helocDrawnAmount": 0,
                  "helocLineAmount": 0,
                  "loanTerms": ["ThirtyYear", "FifteenYear"],
                  "loanType": "Conventional",
                  "prepaymentPenalty": "None",
                  "exemptFromVAFundingFee": false,
                  "includeLOCompensationInPricing": "YesLenderPaid",
                  "calculateTotalLoanAmount": true,
                  "assetDepletion": "No",
                  "autoDebit": "No",
                  "employeeLoan": "No",
                  "communityAffordableSecond": "No",
                  "expandedGuidelines": {
                    "incomeVerificationType": "FullDoc",
                    "housingEventType": "None",
                    "housingEventSeasoning": "NotApplicable",
                    "bankruptcyType": "None",
                    "bankruptcyOutcome": "NotApplicable",
                    "bankruptcySeasoning": "NotApplicable",
                    "mortgageLatesx30_12Mos": 0,
                    "mortgageLatesx30_13to24Mos": 0,
                    "mortgageLatesx60_12Mos": 0,
                    "mortgageLatesx60_13to24Mos": 0,
                    "mortgageLatesx90_12Mos": 0,
                    "mortgageLatesx90_13to24Mos": 0,
                    "mortgageLatesx120_12Mos": 0,
                    "mortgageLatesx120_13to24Mos": 0,
                    "debtConsolidation": false,
                    "uniqueProperty": false
                  },
                  "reducedMI": false,
                  "representativeFICO": 750,
                  "loanLevelDebtToIncomeRatio": 18,
                  "totalMonthlyQualifyingIncome": 9000,
                  "customerInternalId": "OBSearch"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.Response.BestPricingSearchResponse"
                },
                "example": {
                  "productGroups": [
                    {
                      "productGroupId": "string",
                      "bonaFideDiscountPoints": 0,
                      "qmStatus": "Pass",
                      "apr": 0,
                      "productType": "StandardProducts",
                      "armIndex": "Treasury",
                      "armFirstCap": 0,
                      "armIndexValue": 0,
                      "armPeriodicCap": 0,
                      "armLifetimeCap": 0,
                      "armRelativeCap": 0,
                      "armMargin": 0,
                      "armSubsequentChangePeriod": "OneYear",
                      "armFixedTerm": "SixMonth",
                      "closingCost": 0,
                      "lastUpdate": "string",
                      "loanTerm": "ThirtyYear",
                      "lockPeriod": 0,
                      "price": 0,
                      "rate": 0,
                      "rebate": 0,
                      "discount": 0,
                      "principalAndInterest": 0,
                      "monthlyMI": 0,
                      "totalPayment": 0,
                      "loCompensationDollars": 0,
                      "loCompensationPercent": 0,
                      "highBalance": "No",
                      "amortizationTerm": "ThirtyYear",
                      "amortizationType": "Fixed",
                      "investorId": 0,
                      "investor": "string",
                      "loanType": "Conforming",
                      "priceStatus": "Available",
                      "pendingUpdate": true,
                      "productCode": "string",
                      "productId": 0,
                      "productName": "string",
                      "guidelines": [
                        {
                          "documentDescription": "string",
                          "guidelineLink": {
                            "rel": "string",
                            "href": "string",
                            "action": "string",
                            "fileExtension": "string",
                            "types": ["string"]
                          }
                        }
                      ],
                      "constructionPeriodInterestRate": 0,
                      "constructionTermMonths": 0,
                      "constructionPermanentFinancingLoanTerm": 0,
                      "constructionPermanentFinancingAmortizationTerm": 0,
                      "loanTermIncludesConstructionTerm": true,
                      "collectMonthlyMIDuringConstructionTerm": true
                    }
                  ],
                  "acquisitionCost": 0,
                  "totalLoanAmountDetails": {
                    "totalLoanAmount": 0,
                    "upfrontPMI_MIP_FF_GF_Percent": 0,
                    "upfrontPMI_MIP_FF_GF_Amount": 0,
                    "upfrontPMI_MIP_FF_GF_PaidinCash": 0,
                    "upfrontPMI_MIP_FF_GF_FinancedAmount": 0
                  },
                  "cltv": 0,
                  "ltv": 0,
                  "hcltv": 0,
                  "amiPercentage": 0,
                  "amiPercentageFFIEC": 0,
                  "searchId": "string",
                  "searchTime": "string",
                  "customerInternalId": "string",
                  "additionalFields": {},
                  "messages": [
                    {
                      "code": "string",
                      "message": "string",
                      "modelState": {}
                    }
                  ]
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/quotes/{quoteId}/mibestexpdf": {
      "get": {
        "tags": ["BXMIV4"],
        "summary": "MI Comparison PDF",
        "description": "This endpoint will return the MI Comparison PDF.",
        "operationId": "MI-Comparison-PDF",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Pricing.Business.ExternalServices.InternalFileService.Models.FileDetails"
                },
                "example": {
                  "fileContents": "string",
                  "fileName": "string",
                  "contentType": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/mibestexscenariosearch": {
      "post": {
        "tags": ["BXMIV4"],
        "summary": "BestX MI Search",
        "description": "This endpoint will enable users to receive a BestX MI quote by providing a scenario in the request body.\r\n                Users will specify a coverageType (when set to \\\"NonStandard\\\" users will also need to specify a \\\"nonStandardCoveragePercent) as well as an indicator\r\n                if the search should be a BestX MI search across all configured MI providers (and corresponding Master Policy Numbers) for the Business Channel specified\r\n                in the route. If users set the \\\"bestExSearch\\\" to \\\"False\\\", users can specify what MI providers they wish to run the search through (if they only wish to retrieve\r\n                results from a subset of configured providers or an individual provider). All other information required by the MI providers to provide an accurate quote will\r\n                need to be provided in the request. The response will list out all providers configured (or provided in the request), each eligible product (\\\"category\\\") that is returned,\r\n                the corresponding rank for BestX, and the corresponding premium/product details. The 'transactionId' field should be sent in the request to indicate what transaction the\r\n                MI BestX search is tied to. This will allow us to determine if this is a brand new quote, or a subsequent search off of a previous transaction. Please note, the endpoint \r\n                is not authorized to be used in a direct to consumer transaction.",
        "operationId": "BestX-MI-Search",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.Request.BestExMiScenarioRequest"
              },
              "example": {
                "borrowers": [
                  {
                    "isPrimaryBorrower": true,
                    "fico": 750,
                    "firstName": "string",
                    "lastName": "string",
                    "presentStreetAddress": "123 street",
                    "presentAddressCity": "Denton",
                    "presentAddressState": "TX",
                    "presentAddressZipCode": "75024"
                  }
                ],
                "propertyInformation": {
                  "appraisedValue": 425000,
                  "salesPrice": 425000,
                  "corporateRelocation": false,
                  "propertyType": "SingleFamily",
                  "numberOfUnits": "OneUnit",
                  "occupancy": "PrimaryResidence",
                  "propertyStreetAddress": "123 street",
                  "state": "TX",
                  "county": "Denton",
                  "zipCode": "75024"
                },
                "loanInformation": {
                  "baseLoanAmount": 375000,
                  "interestOnly": false,
                  "loanLevelDebtToIncomeRatio": 18,
                  "loanPurpose": "Purchase",
                  "prepaymentPenalty": false,
                  "representativeFico": 740,
                  "temporaryBuydown": false,
                  "principalAndInterest": 2
                },
                "productInformation": {
                  "loanTerm": "ThirtyYear",
                  "amortizationType": "Fixed",
                  "armFixedTerm": "FiveYear",
                  "rate": 4
                },
                "quoteCriteria": {
                  "coverageType": "Affordable",
                  "nonStandardCoveragePercent": "Six",
                  "ausRecommendation": "DuApproveEligible",
                  "bestExSearch": true,
                  "providers": ["Arch", "Essent", "Mgic", "National", "Radian"],
                  "includeMIComparisonPDF": true
                },
                "transactionId": "e941e5d2-7367-472d-9110-f243d5740e79"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.Response.BestExMiSearchResponse"
                },
                "example": {
                  "categories": [
                    {
                      "category": "BorrowerMonthlyNonRefundableConstant",
                      "productDetails": [
                        {
                          "rank": 0,
                          "provider": "Radian",
                          "status": {
                            "code": "Success",
                            "reason": "string"
                          },
                          "description": "string",
                          "durationType": "Unknown",
                          "premiumPaidBy": "Borrower",
                          "premiumRefundable": true,
                          "premiumCalculationType": "Constant",
                          "premiumUpfrontAmount": 0,
                          "premiumUpfrontPercent": 0,
                          "premiumUpfrontTaxAmount": 0,
                          "premiumTaxPercent": 0,
                          "coveragePercent": 0,
                          "premiumPayments": [
                            {
                              "monthlyPremiumSequence": 0,
                              "duration": 0,
                              "amount": 0,
                              "rate": 0,
                              "taxAmount": 0,
                              "paymentAndTaxAmount": 0
                            }
                          ],
                          "quoteID": "string",
                          "firstMonthTotalPayment": 0,
                          "providerInformation": {
                            "provider": "Radian",
                            "advertisement": {
                              "displayContentType": "TextOrPlain",
                              "displayContent": "string",
                              "hyperlink": "string"
                            }
                          }
                        }
                      ]
                    }
                  ],
                  "miComparisonPDF": {
                    "documentDescription": "string",
                    "miComparisonPDFLink": {
                      "rel": "string",
                      "href": "string",
                      "action": "string",
                      "fileExtension": "string",
                      "types": ["string"]
                    }
                  },
                  "disclosureStatements": ["string"],
                  "miSearchID": "string"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {
              "application/json": {}
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessageWithType"
                },
                "example": {
                  "code": 0,
                  "statusCode": 0,
                  "type": "None",
                  "message": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/businesschannels/{businessChannelId}/originators/{originatorId}/originatorassistant/{searchId}/products/{productId}": {
      "post": {
        "tags": ["FullSearchV4"],
        "summary": "Originator Assistant",
        "description": "This endpoint will take in the loan information and the target results for a single product from a previous search scenario and will return AI generated suggestions on how to improve the rate and/or price. For each suggestion the endpoint will display the fields used in the suggestions and the value used to calculate the improvement. The request body for this endpoint will have two main components, the \"loanProfile\" and the \"searchResultInformation\".  The \"loanProfile\" will be the loan data used in the initial search while the \"searchResultInformation\" will be data from the search results or search details call. The root will be the calculated fields returned in the bottom of the search such as the \"totalLoanAmountDetails\" and LTV/CLTV/HCLTV fields.  The \"targetProduct\" will be the quote information from the search results.",
        "operationId": "Originator-Assistant",
        "parameters": [
          {
            "name": "businessChannelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 64170
            }
          },
          {
            "name": "originatorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 749463
            }
          },
          {
            "name": "searchId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Marketplace.Pricing.Business.v4.Models.OriginatorAssistant.Request.OriginatorAssistantRequest"
              },
              "example": {
                "loanProfile": {
                  "loanInformation": {
                    "loanPurpose": "Purchase",
                    "lienType": "First",
                    "amortizationTypes": ["Fixed"],
                    "armFixedTerms": ["FiveYear"],
                    "automatedUnderwritingSystem": "NotSpecified",
                    "borrowerPaidMI": "Yes",
                    "buydown": "None",
                    "cashOutAmount": 0,
                    "desiredLockPeriod": 30,
                    "desiredPrice": 0,
                    "desiredRate": 0,
                    "feesIn": "No",
                    "expandedApprovalLevel": "NotApplicable",
                    "interestOnly": false,
                    "baseLoanAmount": 375000,
                    "secondLienAmount": 0,
                    "helocDrawnAmount": 0,
                    "helocLineAmount": 0,
                    "loanTerms": ["ThirtyYear", "FifteenYear"],
                    "loanType": "Conventional",
                    "prepaymentPenalty": "None",
                    "exemptFromVAFundingFee": false,
                    "includeLOCompensationInPricing": "YesLenderPaid",
                    "calculateTotalLoanAmount": true,
                    "assetDepletion": "No",
                    "autoDebit": "No",
                    "employeeLoan": "No",
                    "communityAffordableSecond": "No",
                    "expandedGuidelines": {
                      "incomeVerificationType": "FullDoc",
                      "housingEventType": "None",
                      "housingEventSeasoning": "NotApplicable",
                      "bankruptcyType": "None",
                      "bankruptcyOutcome": "NotApplicable",
                      "bankruptcySeasoning": "NotApplicable",
                      "mortgageLatesx30_12Mos": 0,
                      "mortgageLatesx30_13to24Mos": 0,
                      "mortgageLatesx60_12Mos": 0,
                      "mortgageLatesx60_13to24Mos": 0,
                      "mortgageLatesx90_12Mos": 0,
                      "mortgageLatesx90_13to24Mos": 0,
                      "mortgageLatesx120_12Mos": 0,
                      "mortgageLatesx120_13to24Mos": 0,
                      "debtConsolidation": false,
                      "uniqueProperty": false
                    },
                    "reducedMI": false,
                    "representativeFICO": 750,
                    "loanLevelDebtToIncomeRatio": 18,
                    "totalMonthlyQualifyingIncome": 9000,
                    "customerInternalId": "OBSearch"
                  },
                  "borrowerInformation": {
                    "citizenship": "USCitizen",
                    "fico": 750,
                    "firstName": "test",
                    "lastName": "test1",
                    "vaFirstTimeUse": false,
                    "firstTimeHomeBuyer": true,
                    "monthsReserves": 12,
                    "selfEmployed": false,
                    "waiveEscrows": false,
                    "state": "Texas"
                  },
                  "propertyInformation": {
                    "appraisedValue": 425000,
                    "occupancy": "PrimaryResidence",
                    "propertyStreetAddress": "123 street",
                    "city": "Plano",
                    "county": "Collin",
                    "state": "TX",
                    "zipCode": "75024",
                    "propertyType": "SingleFamily",
                    "corporateRelocation": false,
                    "salesPrice": 425000,
                    "numberOfStories": 1,
                    "numberOfUnits": "OneUnit"
                  }
                },
                "searchResultInformation": {
                  "targetProduct": {
                    "loanTerm": "ThirtyYear",
                    "lockPeriod": 0,
                    "price": 0,
                    "rate": 0,
                    "amortizationTerm": "ThirtyYear",
                    "amortizationType": "Fixed",
                    "investorId": 130189,
                    "investor": "U.S. Bank National Association - Correspondent - ",
                    "loanType": "Conforming",
                    "priceStatus": "Available",
                    "pendingUpdate": false,
                    "productCode": "3501",
                    "productName": "U.S. Bank National Association - Correspondent -  FNMA Conforming 30 Yr Fixed ",
                    "apr": 0,
                    "productType": "StandardProducts",
                    "armMargin": 0,
                    "closingCost": 0,
                    "lastUpdate": "2025-03-05T06:01:00.0000000+00:00",
                    "rebate": 0,
                    "discount": 0,
                    "principalAndInterest": 0,
                    "monthlyMI": 0,
                    "totalPayment": 0,
                    "loCompensationDollars": 0,
                    "loCompensationPercent": 0,
                    "highBalance": "No",
                    "bonaFideDiscountPoints": 0,
                    "qmStatus": "Pass"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Marketplace.Pricing.Business.v4.Models.OriginatorAssistant.Response.OriginatorAssistantSuggestionResponse"
                },
                "example": {
                  "priceSuggestionId": "cca4f897-714b-47d8-a897-73f6fea39906",
                  "suggestions": [
                    {
                      "suggestionText": "Adjust representativeFICO to 740",
                      "suggestionPriceDetail": {
                        "rate": 6.25,
                        "price": 100.042,
                        "discount": 0,
                        "rebate": 168,
                        "lockPeriod": 30,
                        "principalAndInterest": 2462.87,
                        "monthlyMI": 0,
                        "totalPayment": 2462.87
                      },
                      "originatorAssistantSuggestions": {
                        "aiSuggestedLoanInformation": {
                          "calculateTotalLoanAmount": false,
                          "representativeFICO": 740
                        },
                        "currentLoanInformation": {
                          "calculateTotalLoanAmount": false,
                          "representativeFICO": 735
                        }
                      }
                    },
                    {
                      "suggestionText": "Adjust ltv to 75.00",
                      "suggestionPriceDetail": {
                        "rate": 6.25,
                        "price": 100.167,
                        "discount": 0,
                        "rebate": 626,
                        "lockPeriod": 30,
                        "principalAndInterest": 2308.94,
                        "monthlyMI": 0,
                        "totalPayment": 2308.94
                      },
                      "originatorAssistantSuggestions": {
                        "aiSuggestedLoanInformation": {
                          "baseLoanAmount": 375000,
                          "totalLoanAmountDetails": {
                            "totalLoanAmount": 375000
                          },
                          "calculateTotalLoanAmount": false
                        },
                        "currentLoanInformation": {
                          "baseLoanAmount": 400000,
                          "totalLoanAmountDetails": {
                            "totalLoanAmount": 400000
                          },
                          "calculateTotalLoanAmount": false
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Marketplace.Models.Web.Models.Common.AmortizationScheduleDetails": {
        "type": "object",
        "properties": {
          "paymentStreamDisclaimer": {
            "type": "string"
          },
          "amortizationSchedule": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.Payment"
            }
          },
          "apr": {
            "type": "number",
            "format": "double"
          },
          "baseLoanAmount": {
            "type": "number",
            "format": "double"
          },
          "totalLoanAmount": {
            "type": "number",
            "format": "double"
          },
          "prepaidFinanceCharge": {
            "type": "number",
            "format": "double"
          },
          "amountFinanced": {
            "type": "number",
            "format": "double"
          },
          "financeCharge": {
            "type": "number",
            "format": "double"
          },
          "totalOfPayments": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false,
        "example": {
          "amortizationSchedule": [
            {
              "paymentNumber": 0,
              "principalAndInterestPayment": 0,
              "principalPayment": 0,
              "interestPayment": 0,
              "mortgageInsurancePayment": 0,
              "totalPaymentAmount": 0,
              "endingBalance": 0,
              "rate": 0
            }
          ],
          "apr": 0,
          "baseLoanAmount": 0,
          "totalLoanAmount": 0,
          "prepaidFinanceCharge": 0,
          "amountFinanced": 0,
          "financeCharge": 0,
          "totalOfPayments": 0
        }
      },
      "Marketplace.Models.Web.Models.Common.CustomField": {
        "type": "object",
        "properties": {
          "customFieldInputName": {
            "type": "string"
          },
          "customFieldValue": {
            "type": "string"
          },
          "columnName": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.Common.ExpandedGuidelines": {
        "type": "object",
        "properties": {
          "incomeVerificationType": {
            "enum": [
              "FullDoc",
              "PersonalBankStmt1Mo",
              "PersonalBankStmt6Mos",
              "PersonalBankStmt12Mos",
              "PersonalBankStmt18Mos",
              "PersonalBankStmt24Mos",
              "BusinessBankStmt1Mo",
              "BusinessBankStmt6Mos",
              "BusinessBankStmt12Mos",
              "BusinessBankStmt18Mos",
              "BusinessBankStmt24Mos",
              "OneYearAltDoc",
              "AssetRelated",
              "InvestorDscr",
              "RestrictedStock",
              "InvestorNoRatio",
              "PersonalBankStmt3Mos",
              "BusinessBankStmt3Mos",
              "TwoYearAltDoc",
              "WrittenVOE",
              "Stated",
              "OneYear1099",
              "TwoYear1099",
              "PLOneYear",
              "PLTwoYear",
              "NoIncomeVerification"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "IncomeVerificationType"
              }
            },
            "default": "FullDoc"
          },
          "housingEventType": {
            "enum": [
              "None",
              "DeedInLieu",
              "Foreclosure",
              "Modification",
              "ShortSale",
              "Forbearance"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "HousingEventType"
              }
            },
            "default": "None"
          },
          "housingEventSeasoning": {
            "enum": [
              "NotApplicable",
              "Last1To12Months",
              "Last13To24Months",
              "Last25To36Months",
              "Last37To48Months",
              "Last49To60Months",
              "MoreThanFiveYearsAgo"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "HousingEventSeasoning"
              }
            },
            "default": "NotApplicable"
          },
          "bankruptcyType": {
            "enum": ["None", "Chapter7", "Chapter11", "Chapter13"],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "BankruptcyType"
              }
            },
            "default": "None"
          },
          "bankruptcyOutcome": {
            "enum": [
              "NotApplicable",
              "Discharged",
              "Dismissed",
              "OpenOrPending"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "BankruptcyOutcome"
              }
            },
            "default": "NotApplicable"
          },
          "bankruptcySeasoning": {
            "enum": [
              "NotApplicable",
              "Last1To12Months",
              "Last13To24Months",
              "Last25To36Months",
              "Last37To48Months",
              "Last49To60Months",
              "MoreThanFiveYearsAgo"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "BankruptcySeasoning"
              }
            },
            "default": "NotApplicable"
          },
          "mortgageLatesx30_12Mos": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageLatesx30_13to24Mos": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageLatesx60_12Mos": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageLatesx60_13to24Mos": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageLatesx90_12Mos": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageLatesx90_13to24Mos": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageLatesx120_12Mos": {
            "type": "integer",
            "format": "int32"
          },
          "mortgageLatesx120_13to24Mos": {
            "type": "integer",
            "format": "int32"
          },
          "debtConsolidation": {
            "type": "boolean"
          },
          "uniqueProperty": {
            "type": "boolean"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.Common.LenderFeeDetail": {
        "type": "object",
        "properties": {
          "feeDetailNumber": {
            "type": "integer",
            "format": "int32"
          },
          "feeTotalAmountPercent": {
            "type": "number",
            "format": "double"
          },
          "feeSpecifiedFixedAmount": {
            "type": "number",
            "format": "double"
          },
          "feeTotalCalculatedAmount": {
            "type": "number",
            "format": "double"
          },
          "feePaymentFinancedIndicator": {
            "type": "boolean"
          },
          "feePaidBy": {
            "enum": ["Buyer", "Seller"],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "RESPAFeePaidBy"
              }
            }
          },
          "feePaidTo": {
            "enum": ["Other", "Lender", "ThirdParty", "Broker", "Affiliate"],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "RESPAFeePaidTo"
              }
            }
          },
          "rebatePriority": {
            "type": "integer",
            "format": "int32"
          },
          "feeDescription": {
            "type": "string"
          },
          "prepaidFinanceChargeIndicator": {
            "type": "boolean"
          },
          "includedInQMPointsAndFeesTest": {
            "type": "boolean"
          },
          "feePercentageBasedOn": {
            "enum": [
              "PurchasePriceAmount",
              "PropertyAppraisedValueAmount",
              "Other",
              "OriginalLoanAmount",
              "BaseLoanAmount"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "RESPAFeePercentBasis"
              }
            }
          },
          "feeType": {
            "enum": [
              "TwoZeroThreeKArchitecturalAndEngineeringFee",
              "TwoZeroThreeKConsultantFee",
              "TwoZeroThreeKDiscountOnRepairs",
              "TwoZeroThreeKInspectionFee",
              "TwoZeroThreeKPermits",
              "TwoZeroThreeKSupplementalOriginationFee",
              "TwoZeroThreeKKTitleUpdate",
              "AbstractOrTitleSearchFee",
              "AmortizationFee",
              "ApplicationFee",
              "AppraisalFee",
              "AppraisalDeskReviewFee",
              "AppraisalFieldReviewFee",
              "AssignmentFee",
              "AssignmentRecordingFee",
              "AssumptionFee",
              "AttorneyFee",
              "BankruptcyMonitoringFee",
              "BondFee",
              "BondReviewFee",
              "CertificationFee",
              "CityCountyDeedTaxStampFee",
              "CityCountyMortgageTaxStampFee",
              "CLOAccessFee",
              "ClosingProtectionLetterFee",
              "CommitmentFee",
              "CopyOrFaxFee",
              "CourierFee",
              "CreditReportFee",
              "DeedRecordingFee",
              "DocumentPreparationFee",
              "DocumentaryStampFee",
              "ElectronicDocumentDeliveryFee",
              "EscrowServiceFee",
              "EscrowWaiverFee",
              "FloodCertification",
              "GeneralCounselFee",
              "InspectionFee",
              "LoanDiscountPoints",
              "LoanOriginationFee",
              "MERSRegistrationFee",
              "ModificationFee",
              "MortgageBrokerFee",
              "MortgageRecordingFee",
              "MunicipalLienCertificateFee",
              "MunicipalLienCertificateRecordingFee",
              "NewLoanAdministrationFee",
              "NotaryFee",
              "Other",
              "PayoffRequestFee",
              "PestInspectionFee",
              "ProcessingFee",
              "RealEstateCommission",
              "RedrawFee",
              "ReinspectionFee",
              "ReleaseRecordingFee",
              "RuralHousingFee",
              "SettlementOrClosingFee",
              "SigningAgentFee",
              "StateDeedTaxStampFee",
              "StateMortgageTaxStampFee",
              "SubordinationFee",
              "SurveyFee",
              "TaxRelatedServiceFee",
              "TitleEndorsementFee",
              "TitleExaminationFee",
              "TitleInsuranceBinderFee",
              "TitleInsuranceFee",
              "UnderwritingFee",
              "WireTransferFee",
              "GovernmentRecordingFee",
              "AdditionalQMFees"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "RESPAFeeType"
              }
            }
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.Common.LenderFeeDetailsResponse": {
        "type": "object",
        "properties": {
          "searchId": {
            "type": "string"
          },
          "productId": {
            "type": "integer",
            "format": "int32"
          },
          "productName": {
            "type": "string"
          },
          "lenderFeeDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.LenderFeeDetail"
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Marketplace.Models.Web.Models.Common.ResponseMessage"
            }
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.Common.Payment": {
        "type": "object",
        "properties": {
          "paymentNumber": {
            "type": "integer",
            "format": "int32"
          },
          "principalAndInterestPayment": {
            "type": "number",
            "format": "double"
          },
          "principalPayment": {
            "type": "number",
            "format": "double"
          },
          "interestPayment": {
            "type": "number",
            "format": "double"
          },
          "mortgageInsurancePayment": {
            "type": "number",
            "format": "double"
          },
          "totalPaymentAmount": {
            "type": "number",
            "format": "double"
          },
          "endingBalance": {
            "type": "number",
            "format": "double"
          },
          "rate": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.Common.ResponseMessage": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "modelState": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.Common.ResponseMessageWithType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "statusCode": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "enum": [
              "None",
              "Warning",
              "Validation",
              "Error",
              "Informational",
              "Authorization"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "MessageType"
              }
            }
          },
          "message": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.v4.BestExMiBorrowerInformation": {
        "required": ["fico"],
        "type": "object",
        "properties": {
          "isPrimaryBorrower": {
            "type": "boolean"
          },
          "fico": {
            "maximum": 999,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "middleName": {
            "type": "string"
          },
          "suffix": {
            "type": "string"
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time"
          },
          "selfEmployed": {
            "type": "boolean"
          },
          "borrowerBankruptcy": {
            "type": "boolean"
          },
          "borrowerForeclosure": {
            "type": "boolean"
          },
          "presentStreetAddress": {
            "type": "string"
          },
          "presentAddressCity": {
            "type": "string"
          },
          "presentAddressState": {
            "maxLength": 2147483647,
            "minLength": 2,
            "type": "string"
          },
          "presentAddressZipCode": {
            "pattern": "^\\d{5}(-\\d{4})?$",
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.v4.BestExMiCategory": {
        "type": "object",
        "properties": {
          "category": {
            "enum": [
              "BorrowerMonthlyNonRefundableConstant",
              "BorrowerSingleNonRefundable",
              "LenderSingleNonRefundable",
              "SplitConstantUpfront100"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "BestExMiCategoryEnum"
              }
            }
          },
          "productDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Marketplace.Models.Web.Models.v4.MiProductDetails"
            }
          }
        },
        "additionalProperties": false
      },
      "Marketplace.Models.Web.Models.v4.BestExMiLoanInformation": {
        "required": [
          "baseLoanAmount",
          "loanLevelDebtToIncomeRatio",
          "loanPurpose",
          "representativeFico"
        ],
        "type": "object",
        "properties": {
          "baseLoanAmount": {
            "type": "number",
            "format": "double"
          },
          "interestOnly": {
            "type": "boolean"
          },
          "loanLevelDebtToIncomeRatio": {
            "type": "number",
            "format": "double"
          },
          "loanPurpose": {
            "enum": [
              "Purchase",
              "RefiCashout",
              "RefiRateTermLimitedCO",
              "FHAStreamlineRefi",
              "VARateReduction",
              "SimpleRefinance"
            ],
            "type": "string",
            "items": {
              "x-ms-enum": {
                "name": "LoanPurpose"
              }
            }
          },
          "prepaymentPenalty": {
            "type": "boolean"
          },
          "representativeFico": {
            "type": "integer",
            "format": "int32"
          },
          "temporaryBuydown": {
            "type": "boolean"
          },
          "buyDownRule": {
            "enum": ["ThreeTwoOne", "TwoOne", "OneZero", "OneOne"],
[...]
